body {
    margin: 0;
    padding: 0;
    background-color: #3a383a;
    font-size: 10px;
  }
  
  header {
    height: 20px;
    background-color: #639a88;
  }
  
  h1 {
    font-family: 'Quicksand', sans-serif;
    font-size: 3rem;
    display: inline;
  }
  
  o {
    font-family: 'Montserrat', sans-serif;
  }
  
  img {
    max-width: 250px;
    float: left;
    padding: 2rem;
    height: 200px;
  }
  
  li:nth-child(2) {
    padding: 2rem;
  }