body {
    margin: 0;
    padding: 0;
    background-color: #3a383a;
    font-size: 10px;
  }
  
  header {
    height: 20px;
    background-color: #639a88;
  }
  
  h1 {
    font-family: 'Quicksand', sans-serif;
    font-size: 50px;
    display: inline;
  }
  
 #divTextWrap p{
   font-size: 100px;
 }

  
  img {
    max-width: 250px;
    float: left;
    padding: 2rem;
    height: 200px;
  }
  
 nav li a{
  display: inline-block;
  padding: 14px 16px;
  text-decoration: none;
  text-align: left;
  font-size: 25px;
  position: relative;
  margin-left: 350px;
  margin-right: 400px;
  padding-top: 23px;
  padding-bottom: 20px;
  padding-right: 50px;

 }

#Content-Index{
  padding: 20px;
  margin: 10px;
  margin-bottom: 10px;
  text-align: left;
  display:inline;
  margin-top: 33px;
  margin-left: 10px;
  width: 74px;
  height: 700px;
  list-style-type: none;
  padding-top: 33px;;
  padding-left: 10px;
  top: 55px;
  bottom: 44px;
  left: 10px;
  padding-bottom: 23px; 
  position: relative;
}