body {
    margin: 0;
    padding: 0;
    background-color: #3a383a;
    font-size: 10px;
  }
  
  header {
    height: 20px;
    background-color: #639a88;
  }
  
  h1 {
    font-family: 'Quicksand', sans-serif;
    font-size: 50px;
    display: inline;
  }
  
 #divTextWrap p{
   font-size: 100px;
 }

  
  img {
    max-width: 250px;
    float: left;
    padding: 2rem;
    height: 200px;
  }
  
 nav li a{
  display: inline-block;
  padding: 14px 16px;
  text-decoration: none;
  text-align: left;
  font-size: 25px;
  position: relative;
  margin-left: 350px;
  margin-right: 400px;
  padding-top: 23px;
  padding-bottom: 20px;
  padding-right: 50px;

 }